<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        
            {{errorMessage}}
        </div>
        
        {{>footer}}
    </body>
</html>