<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"></link>
        
        <title>Index</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
             {{>header}}

             <form>
                <input placeholder="location">
                <button>Search</button>
             </form>

            <p>Created by {{name}}</p>
        </div>
         
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>